@using Core.Application.Responses
@using Core.Application.ViewModels.Tour
@{
	var tours = ViewBag.list as PaginatedResult<TourVM>;
}

@section TitleHeader
{
	<div class="row">
		<div class="col-sm-12 mt-3">
			<h3 class="page-title mt-3">
				Danh sách tour
			</h3>
			<div class="row mt-3">
				<div class="col-sm-4">
					<label class="font-weight-bold mb-1">Tìm kiếm</label>
					<div class="form-outline p-0" data-mdb-input-init>
						<input type="search" class="form-control" id="searchInput" placeholder="Tìm kiếm..." />
					</div>
				</div>
				<div class="col-sm-2">
				</div>
				<div class="col-sm-4">
				</div>
				<div class="col-sm-2">
					<div class="text-right">
						<a href="@Url.Action("detail", "tour", new { pId = 0 })"
						   id="createtours" class="btn btn-primary">
							Thêm mới
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div class="card-body">
	<div class="table-responsive" style="overflow-y: auto;">
		<table class="table table-hover table-center table-striped table-bordered">
			<thead>
				<tr>
					<th class="min-vw-10"></th>
					<th class="th-sm">Mã tour</th>
					<th class="th-sm">Tên tour</th>
					<th class="th-sm text-center">Hướng dẫn viên</th>
					<th class="th-sm text-center">Ngày khởi hành </th>
					<th class="th-sm text-center">Giá tiền</th>
					<th class="th-sm text-center">Trạng thái</th> <!-- Thêm cột trạng thái -->
				</tr>
			</thead>
			<tbody id="table-body-tour" class="table-body">
				@if (tours != null)
				{
					@foreach (var tour in tours.Data)
					{
						<tr>
							<td class="text-center">
								@if (tour.IsDeleted != true)
								{
									if (tour.DateStart > DateTime.Now)
									{
										<a href="@Url.Action("detail", "tour", new { pId = tour.Id })" class="updatetour">
											<i class="far fa-pen-to-square pe-3" style="color: blue; cursor: pointer;"></i>
										</a>

										<i class="deletetour fa-solid fa-trash" style="color:red;cursor: pointer;"></i>
									}
								}
							</td>
							<td class="text-center d-none" data-id="@tour?.Id">@tour?.Id</td>
							<td class="text-nowrap">
								<div>@tour?.InternalCode</div>
							</td>
							<td class="text-nowrap">
								@tour?.Name
							</td>
							<td class="text-center">
								@tour?.TourGuide
							</td>
							<td class="text-center">
								@tour?.DateStart
							</td>
							<td class="text-left">
								<div>
									@String.Format("{0:N0} VNĐ", tour?.Price)
								</div>
							</td>
							<td class="text-center">
								@if (tour.IsDeleted == true)
								{
									<span class='badge badge-pill bg-danger inv-badge'>Đã xoá</span>
								}
								else
								{
									@if (tour.DateStart < DateTime.Now)
									{
										<span class='badge badge-pill bg-info inv-badge'>Đã qua</span>
									}
									else if (tour.DateStart > DateTime.Now)
									{
										<span class='badge badge-pill bg-success inv-badge'>Sắp tới</span>
									}
								}
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>

@* Phân trang *@
<div id="paginated" class="d-flex justify-content-end mt-4">
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			@for (int i = 1; i <= tours.Extra.TotalPages; i++)
			{
				<li class="page-item pageCurrent @(tours.Extra.CurrentPage == i ? "active" : "")">
					<a class="page-link" data-page="@i">@i</a>
				</li>
			}
		</ul>
	</nav>
</div>

@* ĐÂY LÀ JS *@
<script>
	$("#room-service").addClass("active"); 
	$("#room-service").next("ul").addClass("d-block");
	$("#room-service-tour").addClass("active");

	$(".link-parent").on("click", function (e) {
		e.preventDefault();

		$(".nav-childs").removeClass("active");
		$(".link-parent").removeClass("active");

		$(".link-parent").next("ul").not($(this).next("ul")).removeClass("d-block");

		$(this).closest(".link-parent").addClass("active");
	});
</script>

@* Lắng nghe sự kiện *@
	<script>
	// Đoạn mã JavaScript mới ở đây
	$(document).ready(function () {
		$(".table-body").on("click", ".updatetour", function (e) {
			e.preventDefault();
			var itemId = $(this).closest("tr").find("td[data-id]").data("id");
			window.location.href = "/tour/detail?pId=" + itemId;
		});
	});

	function resetEvent() {
		$(document).ready(function () {
			$(".deletetour").on("click", function () {
				var itemId = $(this).closest("tr").find("td[data-id]").text();

				$.ajax({
					url: "/tour/delete?pId=" + itemId,
					method: "DELETE",
					success: function (data) {
						if (data.success) {
							$.ajax({
								url: "/tour/index",
								method: "GET",
								success: function (data) {
									$('#table-body-tour').html(data);
									resetEvent();
								},
							});
							toastr.success('Xoá tour thành công!', 'Thông báo');
						} else {
							toastr.error(data.errors[0], 'Thông báo');
						}
					},
					error: function (xhr, textStatus, errorThrown) {
						toastr.error('Xoá tour thất bại!', 'Thông báo');
					}
				});
			});
		});

		$(document).ready(function () {
			$('.pagination a').on('click', function (e) {
				e.preventDefault();
				var page = $(this).data('page');
				paginatedResult(page);
			});
		});

		function paginatedResult(page) {
			$.ajax({
				url: `/tour/index?page=${page}`,
				method: 'GET',
				success: function (data) {
					$('#table-body-tour').html(data);
					updatePagination(page);
				},
			});
		}

		function updatePagination(activePage) {
			$('.pageCurrent').removeClass('active');
			$('.pagination a[data-page="' + activePage + '"]').addClass('active').closest('.pageCurrent').addClass('active');
		}
	}
	resetEvent();

</script>


@* Tìm kiếm và lọc *@
	<script>

	var searchTimer;

	$(document).ready(function () {
		$('#searchInput').on('input', function () {
			clearTimeout(searchTimer);

			searchTimer = setTimeout(function () {
				performSearch();
			}, 600);
		});

		function performSearch() {
			var searchTerm = $('#searchInput').val();

			$.ajax({
				url: '/tour/index',
				method: 'GET',
				data: {
					search: searchTerm,
					page: 1,
					sorts: null,
				},
				contentType: 'application/json; charset=utf-8',
				success: function (data) {
					var newData = $('<tbody>').html(data).find('#table-body-tour').html();
					$('#table-body-tour').html(newData);

					var newPaginated = $('<div>').html(data).find('#paginated').html();
					$('#paginated').html(newPaginated);
					resetEvent();
				},
				error: function (xhr, textStatus, errorThrown) {
					toastr.error('Lỗi khi thực hiện tìm kiếm!', 'Thông báo');
				}
			});
		}
	});
</script>
