<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/feathericon.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link href="~/fonts/fontawesome-free-6.0.0-web/css/all.css" rel="stylesheet" />
    <link href="~/fonts/fontawesome-free-6.0.0-web/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/toastr.min.css">
    <script src="~/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/lib/ckeditor5/build/ckeditor.js"></script>
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="#" class="logo">
                    <img src="~/assets/img/hotel_logo.png" width="50"
                         height="70" alt="logo"> <span class="logoclass">HOTEL</span>
                </a>
                <a href="#" class="logo logo-small">
                    <img src="~/assets/img/hotel_logo.png" alt="Logo"
                         width="30" height="30">
                </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
                <li class="nav-item dropdown noti-dropdown">
                    <a href="#" class="dropdown-toggle nav-link"
                       data-toggle="dropdown">
                        <i class="fe fe-bell"></i>
                        <span class="badge badge-pill">1</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti">
                                Clear All
                            </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle"
                                                     alt="User Image"
                                                     src="~/assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details">
                                                    <span class="noti-title">
                                                        Carlson
                                                        Tech
                                                    </span> has
                                                    approved <span class="noti-title">
                                                        your
                                                        estimate
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">
                                                        4
                                                        mins ago
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link"
                       data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle"
                                 src="~/assets/img/profiles/avatar-01.jpg"
                                 width="31" alt="Soeng Souy">
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="~/assets/img/profiles/avatar-01.jpg"
                                     alt="User Image"
                                     class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Soeng Souy</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="#">
                            My Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            Account Settings
                        </a>
                        <a class="dropdown-item" href="@Url.Action("logout", "account")">
                            Đăng xuất
                        </a>
                    </div>
                </li>
            </ul>
            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control"
                           placeholder="Search here">
                    <button class="btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="sidebar" id="sidebar sidebar-admin">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="active">
                            <a href="/" style="background-color: #00ffe7 !important;">
                                <i class="fas fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-item">
                            <a id="master-data" class="nav-link link-parent border" style="cursor:pointer;">
                                <i class="fas fa-suitcase"></i>
                                <span>Dữ liệu nguồn</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="me-0">
                                <li id="master-data-kind-room" class="nav-item d-block">
                                    <a href="@Url.Action("index", "kindRoom")"
                                       class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Loại phòng</p>
                                    </a>
                                </li>
                                <li id="master-data-customer" class="nav-item d-block">
                                    <a href="@Url.Action("index", "customer")" class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Khách hàng</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a id="room-service" class="nav-link link-parent border" style="cursor:pointer;">
                                <i class="fas fa-suitcase"></i>
                                <span>Phòng, Dịch vụ và Tour</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="me-0">
                                <li id="room-service-room"class="nav-item d-block">
                                    <a href="@Url.Action("index", "room")"
                                       class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Phòng</p>
                                    </a>
                                </li>
                                <li id="room-service-service" class="nav-item d-block">
                                    <a href="@Url.Action("index", "service")"
                                           class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Dịch vụ</p>
                                    </a>
                                </li>
                                <li id="room-service-tour" class="nav-item d-block">
                                    <a href="@Url.Action("index", "tour")"
                                       class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Tour</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a id="business" class="nav-link link-parent border" style="cursor:pointer;">
                                <i class="fas fa-suitcase"></i>
                                <span>Kinh doanh</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="me-0">
                                <li id="business-booking" class="nav-item d-block">
                                    <a href=""
                                       class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Đơn đặt phòng</p>
                                    </a>
                                </li>
                                <li id="business-promotion" class="nav-item d-block">
                                    <a href=""
                                       class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Chương trình khuyến mãi</p>
                                    </a>
                                </li>
                                <li id="business-booking-tour" class="nav-item d-block">
                                    <a href=""
                                       class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Đơn đặt tour</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a id="system" class="nav-link link-parent border" style="cursor:pointer;">
                                <i class="fas fa-suitcase"></i>
                                <span>Hệ thống</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="me-0">
                                <li id="system-staff" class="nav-item d-block">
                                    <a href="@Url.Action("index", "staff")"
                                       class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Nhân viên</p>
                                    </a>
                                </li>
                                <li id="system-role" class="nav-item d-block">
                                    <a href="@Url.Action("index", "user")"
                                       class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Người dùng</p>
                                    </a>
                                </li>
                                <li id="system-role" class="nav-item d-block">
                                    <a href="@Url.Action("index", "role")"
                                       class="nav-link d-flex align-items-center">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p class="mb-0 ml-2">Quyền</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    @RenderSection("TitleHeader", required: false)
                </div>

                <div id="layout-content" class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(".link-parent").on("click", function (e) {
            e.preventDefault();

            $(".nav-childs").removeClass("active");
            $(".link-parent").removeClass("active");

            $(this).closest(".link-parent").addClass("active");
        });
    </script>

    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/assets/js/script.js"></script>
</body>
</html>
