@using Core.Application.Responses
@using Core.Application.ViewModels.Services
@using System.Globalization
@{
    var services = ViewBag.List as PaginatedResult<ServiceVM>;

}

@section TitleHeader
{
    <div class="row">
        <div class="col-sm-12 mt-3">
            <h3 class="page-title mt-3">
                Danh sách dịch vụ
            </h3>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <label class="font-weight-bold mb-1">Tìm kiếm</label>
                    <div class="form-outline p-0" data-mdb-input-init>
                        <input type="search" class="form-control" id="searchInput" placeholder="Tìm kiếm..." />
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <div class="text-right">
                        <button type="button" id="create" class="btn btn-primary"
                                data-toggle="modal" data-target="#openPopupCreate">
                            Thêm mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="card-body">
    <div class="table-responsive" style="overflow-y: auto;">
        <table class="table table-hover table-center table-striped table-bordered">
            <thead>
                <tr>
                    <th class="min-vw-10"></th>
                    <th class="th-sm text-center">Mã Dịch Vụ</th>
                    <th class="th-sm text-center">Tên Dịch vụ</th>
                    <th class="th-sm text-center d-none">Mô tả</th>
                    <th class="th-sm text-center">Giá</th>
                    <th class="th-sm text-center"></th>
                </tr>
            </thead>
            <tbody id="table-body-service">
                @if (services != null)
                {
                    @foreach (var service in services.Data)
                    {
                        <tr>
                            <td class="text-center">
                                @if (service.IsDeleted != true)
                                {
                                    <i class=" updates fa-regular fa-pen-to-square pe-3"
                                       
                                    cursor: pointer;"
                                       data-toggle="modal" data-target="#openPopupCreate"></i>
                                    <i class="deletes fa-solid fa-trash" style="color:red;cursor: pointer;"></i>
                                }
                            </td>
                            <td class="text-center d-none" data-id="@service?.Id">@service?.Id</td>

                            <td class="text-nowrap text-center">
                                <div>@service?.InternalCode</div>
                            </td>
                            <td class="text-center">
                                @service?.Name
                            </td>
                            <td class="text-center d-none">
                                @Html.Raw(service?.Describe)
                            </td>
                            <td class="text-center">
                                @service?.Price
                            </td>
                            <td class="text-center">

                                @{
                                    var statusText = service.IsDeleted == true
                                    ? "<span class='badge badge-pill bg-danger inv-badge'>Đã xoá</span>"
                                    : "<span class='badge badge-pill bg-success inv-badge'>Hoạt động</span>";
                                }

                                @Html.Raw(statusText)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@* Phân trang *@
<div id="paginated" class="d-flex justify-content-end mt-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= services.Extra.TotalPages; i++)
            {
                <li class="page-item pageCurrent @(services.Extra.CurrentPage == i ? "active" : "")">
                    <a class="page-link" data-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="openPopupCreate" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h1 class="modal-title text-white font-weight-bold" id="modalTitle">Thêm dịch vụ mới</h1>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="row formtype">
                                <div class="col-md-6 d-none">
                                    <div class="form-group">
                                        <input type="text" name="id" value="" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="font-weight-bold mb-2">Mã dịch vụ</label>
                                        <input class="form-control" type="text" name="internalCode" />
                                        <span class="text-danger" id="internalCodeError"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="font-weight-bold mb-2">Tên dịch vụ</label>
                                        <input class="form-control" type="text" name="name" />
                                        <span class="text-danger" id="nameError"></span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-weight-bold mb-2">Mô tả</label>
                                        <div id="describeEditor" />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-weight-bold mb-2">Giá tiền</label>
                                        <input class="form-control" type="number" name="price" />
                                        <span class="text-danger" id="priceError"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="createButton" class="btn btn-primary">Tạo mới</button>
                <button type="button" id="updateButton" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>


@* Style*@
<style>
    .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
        min-height: 300px;
    }
</style>

@* Đây là JS nè *@
<script>
    $("#room-service").addClass("active");
    $("#room-service").next("ul").addClass("d-block");
    $("#room-service-service").addClass("active");

    $(".link-parent").on("click", function (e) {
        e.preventDefault();

        $(".nav-childs").removeClass("active");
        $(".link-parent").removeClass("active");

        $(".link-parent").next("ul").not($(this).next("ul")).removeClass("d-block");

        $(this).closest(".link-parent").addClass("active");
    });
</script>

@* Ckeditor *@
<script>
    var _describeEditor;

    ClassicEditor
        .create(document.querySelector('#describeEditor'))
        .then(editor => {
            _describeEditor = editor;
        })
        .catch(error => {
            console.error('There was a problem initializing the editor.', error);
        });
</script>

@* Khởi tạo biến *@
<script>
    var createOpen = document.getElementById("create");
    var updateOpens = document.querySelectorAll(".updates");


    var internalCodeInput = $('input[name="internalCode"]');
    var nameInput = $('input[name="name"]');
    var describeInput = $('input[name="describe"]');
    var priceInput = $('input[name="price"]');

    var searchTimer;
    var sorted_asc = true;
</script>

@* Tìm kiếm và lọc *@
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            clearTimeout(searchTimer);

            searchTimer = setTimeout(function () {
                performSearch();
            }, 600);
        });

        // $('#filterKindRoom').change(function () {
        //     performSearch();
        // });

        function performSearch() {
            var searchTerm = $('#searchInput').val();
            // var selectedKindRoom = $('#filterKindRoom').val();
            // var selectedStatus = $('#filterStatus').val();

            $.ajax({
                url: '/service/index',
                method: 'GET',
                data: {
                    search: searchTerm,
                    page: 1,
                    sorts: null,
                    // filters: `KindRoomId:${selectedKindRoom},status:${selectedStatus}`
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var newData = $('<tbody>').html(data).find('#table-body-service').html();
                    $('#table-body-service').html(newData);

                    var newPaginated = $('<div>').html(data).find('#paginated').html();
                    $('#paginated').html(newPaginated);
                    resetEvent();
                },
                error: function (xhr, textStatus, errorThrown) {
                    toastr.error('Lỗi khi thực hiện tìm kiếm!', 'Thông báo');
                }
            });
        }
    });
</script>

@* Lắng nghe sự kiện + load giao diện và dữ liệu *@
<script>
    function resetEvent() {
        createOpen.addEventListener("click", function (event) {
            var rowData = {
                id: 0,
                internalCode: "",
                name: "",
                describe: "",
                price: 0,
            };

            document.getElementById("modalTitle").innerText = "Thêm dịch vụ mới";
            document.getElementById("createButton").style.display = "inline-block";
            document.getElementById("updateButton").style.display = "none";

            loadData(rowData);
        });

        updateOpens = document.querySelectorAll(".updates");
        updateOpens.forEach(function (button) {
            button.addEventListener("click", function () {
                var parentRow = button.closest("tr");
                var rowData = {
                    id: parentRow.querySelector("td:nth-child(2)").textContent.trim(),
                    internalCode: parentRow.querySelector("td:nth-child(3)").textContent.trim(),
                    name: parentRow.querySelector("td:nth-child(4)").textContent.trim(),
                    describe: parentRow.querySelector("td:nth-child(5)").innerHTML,
                    price: parentRow.querySelector("td:nth-child(6)").textContent.trim(),
                };
                document.getElementById("modalTitle").innerText = "Cập nhật dịch vụ phòng";
                document.getElementById("createButton").style.display = "none";
                document.getElementById("updateButton").style.display = "inline-block";

                loadData(rowData);
            });
        });

        $(document).ready(function () {
            $(".deletes").on("click", function () {
                var itemId = $(this).closest("tr").find("td[data-id]").data("id");

                $.ajax({
                    url: "/service/delete?pId=" + itemId,
                    method: "DELETE",
                    success: function (data) {
                        if (data.success) {
                            $.ajax({
                                url: "/service/index",
                                method: "GET",
                                success: function (data) {
                                    var newData = $('<tbody>').html(data).find('#table-body-service').html();
                                    $('#table-body-service').html(newData);

                                    var newPaginated = $('<div>').html(data).find('#paginated').html();
                                    $('#paginated').html(newPaginated);

                                    resetEvent();
                                },
                            });
                            toastr.success('Xoá dịch vụ thành công!', 'Thông báo');
                        }
                        else {
                            toastr.error(data.errors[0], 'Thông báo');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        toastr.error('Xoá dịch vụ thất bại!', 'Thông báo');
                    }
                });
            });
        });


        $(document).ready(function () {
            $('.pagination a').on('click', function (e) {
                e.preventDefault();
                var page = $(this).data('page');
                paginatedResult(page);
            });
        });

        function paginatedResult(page) {
            $.ajax({
                url: `/service/index?page=${page}`,
                method: 'GET',
                success: function (data) {
                    var newData = $('<tbody>').html(data).find('#table-body-service').html();
                    $('#table-body-service').html(newData);

                    updatePagination(page);
                },
            });
        }

        function updatePagination(activePage) {
            $('.pageCurrent').removeClass('active');
            $('.pagination a[data-page="' + activePage + '"]').addClass('active').closest('.pageCurrent').addClass('active');
        }
    }



    function loadData(data) {
        document.querySelector('input[name="id"]').value = data.id;
        document.querySelector('input[name="internalCode"]').value = data.internalCode;
        document.querySelector('input[name="name"]').value = data.name;
        _describeEditor.setData(data.describe);
        document.querySelector('input[name="price"]').value = data.price;

        removeValidator();
    }

    function removeValidator() {
        $(".text-danger").text("");

        internalCodeInput.removeClass("border-danger");
        nameInput.removeClass("border-danger");
        describeInput.removeClass("border-danger");
        priceInput.removeClass("border-danger");
    }

    resetEvent();
</script>

@* Gọi controller xử lý *@
<script>
    $(document).ready(function () {
        $("#createButton").on("click", function (e) {
            e.preventDefault();

            removeValidator();

            var pRequest = getData();
            pRequest.id = 0;

            var isValid = validateForm(pRequest);

            if (isValid) {
                $.ajax({
                    url: "/service/create",
                    method: "POST",
                    data: JSON.stringify(pRequest),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.success) {
                            $.ajax({
                                url: "/service/index",
                                method: "GET",
                                data: { page: 1 },
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    var newData = $('<tbody>').html(data).find('#table-body-service').html();
                                    $('#table-body-service').html(newData);

                                    var newPaginated = $('<div>').html(data).find('#paginated').html();
                                    $('#paginated').html(newPaginated);

                                    $('.btn-secondary[data-dismiss="modal"]').click();

                                    resetEvent();
                                },
                            });
                            toastr.success('Thêm dịch vụ mới thành công!', 'Thông báo');
                        } else {
                            toastr.error(data.errors[0], 'Thông báo');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        toastr.error('Thêm dịch vụ mới thất bại!', 'Thông báo');
                    }
                });
            }
        });

        $("#updateButton").on("click", function (e) {
            e.preventDefault();

            removeValidator();

            var pRequest = getData();

            var isValid = validateForm(pRequest);

            if (isValid) {
                $.ajax({
                    url: "/service/update",
                    method: "PUT",
                    data: JSON.stringify(pRequest),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.success) {
                            $.ajax({
                                url: "/service/index",
                                method: "GET",
                                data: { page: 1 },
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    var newData = $('<tbody>').html(data).find('#table-body-service').html();
                                    $('#table-body-service').html(newData);

                                    $('.btn-secondary[data-dismiss="modal"]').click();

                                    resetEvent();
                                },
                            });
                            toastr.success('Cập nhật thông tin dịch vụ thành công!', 'Thông báo');
                        }
                        else {
                            toastr.error(data.errors[0], 'Thông báo');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        toastr.error('Cập nhật thông tin dịch vụ thất bại!', 'Thông báo');
                    }
                });
            }
        });
    });

    function getData() {
        var formData = {
            id: $('input[name="id"]').val() || null,
            internalCode: $('input[name="internalCode"]').val() || null,
            name: $('input[name="name"]').val() || null,
            describe: _describeEditor.getData(),
            price: $('input[name="price"]').val() || null,
        };
        return formData;
    }

    function validateForm(data) {
        var isValid = true;

        // Validate internalCode
        if (!data.internalCode) {
            $("#internalCodeError").text("Mã dịch vụ không được để trống");
            $('input[name="internalCode"]').addClass("border-danger");
            isValid = false;
        } else if (data.internalCode.length > 100) {
            $("#internalCodeError").text("Mã dịch vụ không được vượt quá 100 ký tự.");
            $('input[name="internalCode"]').addClass("border-danger");
            isValid = false;
        }

        // Validate name
        if (!data.name) {
            $("#nameError").text("Tên dịch vụ không được để trống");
            $('select[name="name"]').addClass("border-danger");
            isValid = false;
        }

        // // Validate describe
        // if (!data.describe) {
        //     $("#describeError").text("Loại phòng không được để trống");
        //     $('select[name="kindRoomId"]').addClass("border-danger");
        //     isValid = false;
        // }

        // Validate price
        if (!data.price) {
            $("#priceError").text("Giá dịch vụ không được để trống");
            $('select[name="price"]').addClass("border-danger");
            isValid = false;
        } else if (data.price < 0) {
            $("#priceError").text("Giá dịch vụ không thể nhỏ hơn 0");
            $('select[name="price"]').addClass("border-danger");
            isValid = false;
        }

        return isValid;
    }

</script>